<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-clevertap" version="0.0.1">
    <name>CleverTap</name>
    <description>CleverTap provides the functionality to segment users based on their actions and profile properties</description>
    <license>MIT</license>
    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/sushien/CleverTap.git</repo>
    <issue>https://github.com/sushien/CleverTap/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/clevertap.js" name="clevertap">
        <clobbers target="window.plugins.clevertap" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="clevertap">
                <param name="android-package" value="com.stanleyidesis.cordova.plugin.clevertap"/>
            </feature>
        </config-file>
        <source-file src="src/android/clevertap.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
    </platform>
</plugin>